@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-BgColor:white;
    --color-TextColor:black;
    --color-Text1Color1:orange;
}
:root[class='dark']{
    --color-BgColor:rgb(0, 0, 0);
    --color-TextColor:white;
    --color-Text1Color1:white;
}